
@model EventReminderApp2.Models.ResetPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <link href="~/CSS/ResetPassword.css" rel="stylesheet" />
    <script src="~/Scripts/ResetPassword.js"></script>
</head>
<body>
    <div class="container register-form">

        <form class="PasswordResetForm" method=post>
            <div class="form-content">

                <div class="text-danger">
                    @ViewBag.Message
                </div>

                <input type="hidden" class="form-control" name="ResetCode" value="@Model.ResetCode" />

                <div class="row form-group">
                    <div class="col-md-3">
                        <label>New Password:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="password" class="form-control" placeholder="New Password" name="NewPassword" id="NewPassword" value="@Model.NewPassword" required />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Confirm Password:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword" id="ConfirmPassword" value="@Model.ConfirmPassword" required />
                    </div>
                </div>

                <button type="submit" class="btnSubmit" id="btnResetPass">Submit</button>
            </div>
        </form>
    </div>

</body>
</html>
