
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHome</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    @*//datetime picker*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>

    <script src="~/Scripts/UserHome.js"></script>
    <link href="~/CSS/Home.css" rel="stylesheet" />
    <link href="~/CSS/NavTabss.css" rel="stylesheet" />
    <script src="~/Scripts/LoginReg.js"></script>
    <link href="~/CSS/LoginReg.css" rel="stylesheet" />
    <script src="~/Scripts/RegFormValidate.js"></script>

    @*//calender*@
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@

    @*//google api*@
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    @*toastr*@
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>

    @*//facebook api*@
    <script src="~/Scripts/FacebookAuthentication.js"></script>       
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

</head>
<body>
    <div class="header">
        <label id="currentUser"></label>
        <div class="pContainer">
            <p>Event Reminder</p>
        </div>
        <div class="btnContainer">
            <button id="btnSignInSignUp" class="btn btn-danger btn-large">SignIn or SignUp</button>
            <button id="btnSignOut" class="btn btn-danger btn-large" style="display:none">SignOut</button>          
        </div>
    </div>

    @*background*@
    <div id="backgroundImg">
        <img src="~/CSS/calenderIMG.jpg" alt="calender" class="img-fluid" />
    </div>

    @*<div class="row">*@
    <div class="col-xs-12 " id="tab">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                <a class="nav-item nav-link" id="nav-Create-tab" data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="false">create</a>
                <a class="nav-item nav-link" id="nav-listView-tab" data-toggle="tab" href="#nav-listView" role="tab" aria-controls="nav-listView" aria-selected="false">ListView</a>
                @*<a class="nav-item nav-link" id="nav-calenderView-tab" data-toggle="tab" href="#nav-calenderView" role="tab" aria-controls="nav-calenderView" aria-selected="false">CalenderView</a>*@
            </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            @*Home*@
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div id="calender"></div>
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <button type="button" id="btnDelete" class="btn btn-info btn-sm float-right">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                                <button id="btnEdit" class="btn btn-info btn-sm float-right" style="margin-right:5px;">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </button>

                                <p id="pDetails"></p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

                @*////calender click/////*@
                @*/update calender/*@

                <div class="modal" id="myModalSave">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Save Event</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <form class="col-md-12 form-horizontal">
                                    <input type="hidden" id="hdEventID" value="0" />
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" id="txtSubject" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>Start</label>
                                        <input type="text" id="txtStart" class="form-control" />
                                    </div>

                                    <div class="form-group" id="divEndDate">
                                        <label>End</label>
                                        <input type="text" id="txtEnd" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                                    </div>

                                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>


            </div>@*home--end*@


            @*create*@
            <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">

                <div class="container register-form" id="createForm">
                    <form name="CreateForm" method=post>
                       
                        <div class="form-content">

                            <input type="hidden" class="form-control" name="UserId" id="UserId" />
                            <input type="hidden" class="form-control" name="EventId" id="EventId" />

                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Event Name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Event Name" name="EventName" id="EventName" required />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Description:</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="form-control" cols="40" rows="5" placeholder="Description" name="Description" id="Description"></textarea>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Start Date:</label>
                                </div>

                                <div class="col-md-9">
                                    <input type="datetime-local" class="form-control" placeholder="DD-MM-YYYY HH:mm a" name="StartDate" id="StartDate" required />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>End Date:</label>
                                </div>

                                <div class="col-md-9">
                                    <input type="datetime-local" class="form-control" placeholder="DD-MM-YYYY HH:mm a" name="EndDate" id="EndDate" required />
                                </div>
                            </div>

                            <button type="button" class="btnSubmit" id="btnSubmitCreate">Submit</button>
                        </div>
                    </form>
                </div>
            </div>@*create--end*@


            @*listView*@
            <div class="tab-pane fade" id="nav-listView" role="tabpanel" aria-labelledby="nav-listView-tab">
                <div class="container" id="eventLists">

                    <table class="table" id="tblEventList">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th> EventId</th>
                                <th>EventName</th>
                                <th>Description</th>
                                <th>StartDate</th>
                                <th>EndDate</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div> @*listView--end*@

        </div>

    </div>
    @*</div>*@


    @*Login modal*@
    <div class="modal" id="ModalSignInSignUp">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div id="logreg-forms">
                        <form class="form-signin">
                            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
                            <div class="social-login">
                                <button class="btn facebook-btn social-btn" id="btnFacebookLogin" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
                                <button class="btn google-btn social-btn" id="btnGoogleLogin" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
                            </div>
                            <p style="text-align:center"> OR  </p>
                            <div class="input-group">
                                <input type="text" id="inputEmail" class="form-control" name="Email" placeholder="Email id" required="" autofocus="">
                            </div>
                            <div class="input-group">
                                <input type="password" id="inputPassword" class="form-control" name="Password" placeholder="Password" required="">
                            </div>
                            <div class="input-group">
                                <button class="btn btn-md btn-rounded btn-block form-control submit" id="btnLogin" type="button"><i class="fas fa-sign-in-alt"></i> Sign in</button>
                            </div>

                            <a href="#" id="forgot_pswd">Forgot password?</a>
                            <hr>

                            <!-- <p>Don't have an account!</p>  -->
                            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>

                        </form>


                        <form action="#" class="form-reset">
                            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
                        </form>


                        <form class="form-signup">
                            <div class="social-login">
                                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
                            </div>
                            <div class="social-login">
                                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
                            </div>
                            <p style="text-align:center">OR</p>
                            <input type="text" id="user-name" class="form-control" placeholder="Username" name="UserName" required autofocus="">
                            <input type="email" id="user-email" class="form-control" placeholder="Email address" name="Email" required autofocus="">
                            <input type="password" id="user-pass" class="form-control" placeholder="Password" name="Password" required autofocus="">
                            <input type="password" id="user-repeatpass" class="form-control" placeholder="Confirm Password" name="RePassword" required autofocus="">
                            <div class="input-group">
                                <button class="btn btn-md btn-block submit" id="btn-SignUp" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
                            </div>
                            <a href="#" id="cancel_signup"><i class="fa fa-angle-left"></i> Back</a>
                        </form>

                        <br>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*end--Login modal*@


    @*Event List Update modal*@
    <div class="modal" id="ModalListUpdate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Update Event</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container" id="updateListForm">
                        <form name="UpdateForm">
                            <div class="form-content">

                                <input type="hidden" class="form-control" name="UserIdList" id="UserIdList" />
                                <input type="hidden" class="form-control" name="EventIdList" id="EventIdList" />

                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Event Name:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="Event Name" name="EventNameList" id="EventNameList" required />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Description:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea class="form-control" cols="40" rows="5" placeholder="Description" name="DescriptionList" id="DescriptionList"></textarea>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Start Date:</label>
                                    </div>

                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="DD-MM-YYYY HH:mm a" name="StartDateList" id="StartDateList" required />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>End Date:</label>
                                    </div>

                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="DD-MM-YYYY HH:mm a" name="EndDateList" id="EndDateList" required />
                                    </div>
                                </div>

                                <button type="button" class="btnSubmit" id="btnUpdateList">Update</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*List update modal --end*@



    <div class="footer">
        <p>Copyright &copy; 2020 Lekshmi Raj M R</p>
    </div>

</body>
</html>
